<div class="process_tab">
    <h2>
        {{ process.pretty_name|title }} 
        {% if process.version %}
            <span class="process_version">{{process.version}}</span>
        {% endif %}
    </h2>
    {% if process.description %}
        <p class="process_description">{{process.description}}</p>
    {% endif %}
    <form>
        {% if process.args %} <h3>Input:</h3> {% endif %}
        {% for argument in process.args.values() %}
            {% include "arguments/base.html" %}
        {% endfor %}
        <input class="run" type="button" value="Run" onclick="{{process.function.__name__}}()" />
    </form>
    <h3>Output:</h3>
    <p class="output" id="output_{{process.name}}"></p>
</div>
